/*
* @Author: Administrator
* @Date:   2017-07-20 23:23:58
* @Last Modified by:   Administrator
* @Last Modified time: 2017-07-21 21:53:52
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
header{
	width: 100%;
	height: 0.92rem;
	background: #0078e6;
	position: fixed;
	z-index: 999;
}
.head{
	width: 100%;
	height: 0.92rem;
	background: #0078e6;
}
.logo{
	width:0.7rem;
	height: 0.67rem;
	margin-top: 0.13rem;
	margin-left: 2.74rem;
	float: left;
}
.logo img{
	width:0.7rem;
	height: 0.67rem;	
	float: left;
}
.word1{
	width: 1.15rem;
	height: 0.35rem;
	font-size: 0.35rem;
	color: #fff;
	font-weight: bold;
	margin-left: 0.16rem;
	margin-top: 0.29rem;
	float: left;
}
/* banner开始 */
.banner{
	width: 100%;
	height:2.8rem;
}
.banner a{
	display: block;
	width: 100%;
	height: 2.8rem;
}
.banner a img{
	width: 100%;
	height: 2.8rem;
}
/* banner结束 */
.daohang{
	width: 100%;
	height: 0.82rem;
	background:#f5f6fa;
}
.shouye{
	width: 0.6rem;
	height: 0.24rem;
	float: left;
	margin-top: 0.31rem;
	margin-left: 0.23rem;
	font-size: 0.22rem;
	color: #000;
}
.dayu{
	width: 0.11rem;
	height: 0.22rem;
	margin-left: 0.15rem;
	margin-top: 0.31rem;
	float: left;
	font-size: 0.22rem;
	color: #000;
}
.shou1{
	width: 1.5rem;
}
/* 概述开始 */
.gai{
	width: 100%;
	height:8.16rem;
	background: #f5f6fa;
	border-bottom: 0.1rem solid #f5f6fa;
}
main{
	width: 93.6%;
	height: 100%;
	background:#fff;
	margin: 0 auto;
}
.gaishu{
	width: 100%;
	height: 0.66rem;
	background:#fff;
}
.shu{
	width: 0.05rem;
	height: 0.2rem;
	background: #01b5ff;
	margin-top: 0.32rem;
	margin-left: 0.19rem;
	float: left;
}
.word{
	height: 0.23rem;
	font-size: 0.23rem;
	color: #000;	
	margin-top: 0.25rem;
	margin-left: 0.2rem;
	float: left;
}
.xu{
	width: 6.41rem;
	height: 0.01rem;
	border-bottom: 0.01rem dashed #999;
	margin-left: 0.42rem;
}
p{
	font-size: 0.24rem;
	color: #666666;
	margin-left: 0.42rem;
	margin-top: 0.16rem;
	margin-bottom: 0.45rem;
}
/* 概述结束 */
.qiye{
	width: 100%;
	height: 2.74rem;
	background: #f5f6fa;
	border-bottom: 0.1rem solid #f5f6fa;
}
.zhuanzhu{
	width: 1.33rem;
	height: 1.33rem;
	margin-left: 0.79rem;
	margin-top: 0.36rem;
	float: left;
	background: url('../img/our_03.png') no-repeat center center;
	background-size: 1.33rem 1.33rem;
}
.zhuanzhu1{
	background: url('../img/our_05.png') no-repeat center center;
	background-size: 1.33rem 1.33rem;
}
.zhuanzhu2{
	background: url('../img/our_07.png') no-repeat center center;
	background-size: 1.33rem 1.33rem;
}
.gongsi{
	width: 100%;
	height: 1.32rem;
	background: #f5f6fa;
	border-bottom: 0.1rem solid #f5f6fa;
}
.zeren{
	height: 0.24rem;
	font-size: 0.24rem;
	color: #000;
	margin-top: 0.14rem;
	margin-left: 0.42rem;
}
.baoming{
	width: 100%;
	height: 2.21rem;
	background:#f5f6fa;
	overflow: hidden;
}
.baoming1{
	width: 1.69rem;
	height: 1.69rem;
	margin: 0 auto;
	background: #fff;
	margin-top: 0.24rem;
	background: url('../img/our_13.png') no-repeat center center;
	background-size: 1.69rem 1.69rem;
}
footer{
	width: 100%;
	height: 0.92rem;
	background: #f5f6fa;
	overflow: hidden;
}
.wen1{
	height: 0.22rem;
	font-size: 0.22rem;
	/* line-height: 0.22rem; */
	text-align: center;
	/* margin-top: 0.19rem; */
	margin-bottom: 0.13rem;
	color:#8a8a8b;
}
.wen2{
	height: 0.22rem;
	font-size: 0.22rem;
	text-align: center;
	color: #8a8a8b;
}